@tailwind base;
@tailwind components;
@tailwind utilities;
  
@layer base {
  html, body{
    margin:0;
    padding:0;
    height:100%;
    width:100% 
    @apply text-slate-400
  }
  #__next {
    height: 100%;
    width: 100%;
  }
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
  svg{
    display: inline;
  }
}